$selecting-color :orange;
$text-color: blue;
$right-answer: green;
$wrong-answer: red;
$hover-cursor: pointer;


.answers { 

    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    li{
        list-style-type: none;
        text-align: center;
        padding: 1%;
        margin: 1%;
    }

    li:hover{
        background-color: $selecting-color;
        cursor: $hover-cursor;
    }

    .selected{
        background-color: $selecting-color; 
    }

    .right-answer{
        background-color: $right-answer
    }

    .wrong-answer{
        background-color: $wrong-answer;
    }
}


.rounds{
    margin-top: 0%;
    margin-left: 65%;
    border: solid black;
    padding: 0%;
    .current {
        background-color: $selecting-color;
    }

    li{
        list-style-type: none; 
    }
}

.main-page{
    display: flex;
    justify-content: space-between;
    height: 85vh;
    aside, section{
        flex: 1 1 0px;
        text-align: center;
    }
}

.question{
    text-align: center;
}