$selecting-color :linear-gradient(orange, orange);
$text-color: blue;
$right-answer: linear-gradient(green, green);
$wrong-answer: linear-gradient(red, red);
$hover-cursor: pointer;
$border: solid black;
$background-colour-rounds: linear-gradient(#003399, #4b007c);
$background-colour-questions: linear-gradient(#003399, #7e00d1);


body{
    background-image: url('../images/who_wants_to_be_a_millionaire_background.jpeg');
    color: white;
}

.answers { 
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    li{
        background-image: $background-colour-questions;
        list-style-type: none;
        text-align: center;
        padding: 1%;
        margin: 1%;
        border: $border;
        width: 60%;
        margin: auto;
        margin-bottom: 1%;
        border-radius: 20px;
    }

    li:hover{
        background-image: $selecting-color;
        cursor: $hover-cursor;
    }

    .selected{
        background-image: $selecting-color; 
    }

    .right-answer{
        background-image: $right-answer
    }

    .wrong-answer{
        background-image: $wrong-answer;
    }
}


.rounds{
    background-image: $background-colour-rounds;
    margin-top: 0%;
    margin-left: 55%;
    border: $border;
    padding: 0%;
    font-size: 20px;
    .current {
        background-image: $selecting-color;
    }

    li{
        list-style-type: none; 
    }
}

.main-page{
    display: flex;
    justify-content: space-between;
    height: 83vh;
    aside, section{
        flex: 1 1 0px;
    }

    .round-tracker, section{
        text-align: center;
    }
}

.question{
    background-image: $background-colour-questions;
    text-align: center;
    border: $border;
    padding: 0.5%;
    width: 33%;
    margin:auto;
    border-radius: 20px;
}

#millionaire-logo{
    width: 17.5%;
}